.wrap-info1{
  width: 100%;
  min-width: 1000px;
  color: black;
  margin-top: 20px;

  .info__search1{
    position: relative;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: thin solid #333;

    &--select{
      position: absolute;
      right:  0px;
      top: 0px;

      &-list{
        font-size: 12px;
        color: black;
        margin: 0 10px 0 10px;

      }
      &-comp{
        font-size: 12px;
        color: black;
        margin: 0 10px 0 10px;
      }
    }
  }
  .main-content__table{
    margin-bottom: 30px;
  }

    body{
      font-family: arial;
    }
    
    th.picture{
      width: 170px;
    }
    td.picture{
      padding: 10px 0 10px 30px;
    }
    th{
      padding-left: 30px;
      font-size: 12px;
      background-color: #f9f8f6;
      width: 170px;

      .sort{
        color: blue;
      }
    }

    td{
      padding: 15px 12px;
      font-weight: bold;
      font-size: 12px;
      width: 270px;
    }

    td.price{
      font-size: 15px;
      color: #fc483a;
    }

    #plusbtn {
      display: none;
    }
    #plusbtn2 {
      display: none;
    }


    button{
      width: 21px;
      height: 21px;
      margin: 2px 0 2px 20px;
    }

    .tablefirst{
      color: black;
      margin-left: 20px;
      margin-top: 20px;
    }


  
}