%header
  Raku Machi
  %section.submenu
    .submenu__content
      =link_to "お気に入り(3)", show1_products_path, class:"linklike"
    .submenu__content
      閲覧履歴
    .submenu__content
      メッセージ
    .submenu__content
      マイページ

%section.menubtns
  .discription1
    収益物件数 No.1
  .menu
    .menu__content
      =link_to "楽待とは", "https://www.rakumachi.jp/about/"
    .menu__content
      =link_to "収益物件を探す", "https://www.rakumachi.jp/syuuekibukken/area/prefecture/dimAll/"
    .menu__content
      =link_to "提案をうける", "https://www.rakumachi.jp/matching"
    .menu__content
      =link_to "楽待新聞", "https://www.rakumachi.jp/news/"
    .menu__content
      =link_to "セミナー", "https://www.rakumachi.jp/info_seminar/"
    .menu__content
      =link_to "物件査定", "https://www.rakumachi.jp/fudousanbaikyaku?ui_medium=aboutbnr&ui_campaign=satei"
    .menu__content
      =link_to "大家さんの味方", "https://www.rakumachi.jp/ooyasan/"
  .discription2
    不動産投資のことなら国内最大の不動産投資サイト「楽待」