%header
  Raku Machi
  %section.submenu
    .submenu__content
      =link_to "お気に入り(3)", show1_products_path, class:"linklike"
    .submenu__content
      閲覧履歴
    .submenu__content
      メッセージ
    .submenu__content
      マイページ

%section.menubtns
  .discription1
    収益物件数 No.1
  .menu
    .menu__content
      =link_to "楽待とは", show1_products_path
    .menu__content
      =link_to "収益物件を探す", show1_products_path
    .menu__content
      提案をうける
    .menu__content
      楽待新聞
    .menu__content
      セミナー
    .menu__content
      物件査定
    .menu__content
      大家さんの味方
  .discription2
    不動産投資のことなら国内最大の不動産投資サイト「楽待」